#wb_header { background: transparent none repeat scroll left top; height: 118px; }
#wb_header { height: 118px; }
#wb_main { background: transparent none repeat scroll left top; height: 310px; padding: 0 0 50px 0; }
#wb_main { height: 310px; }
#wb_footer { background: #00145c none repeat-x scroll center bottom; height: 130px; }
#wb_footer { height: 130px; }
body { background: #ffffff none no-repeat scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/a89abd8eb671e1f676eabe8cebaa5267.jpg") repeat-x scroll center bottom; }
body, .wb_sbg { min-width: 992px; min-height: 2957px; }
.root { width: 992px; height: 2957px; overflow: visible; }
#wb_element_instance0 { left: 600px; top: 50px; min-width: 390px; width: 390px; min-height: 40px; height: 40px; display: block; z-index: 60; }
#wb_element_instance0 ul { background: transparent none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: right; }
#wb_element_instance0 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance0 li { margin: 0px 0px 0px 0px; }
#wb_element_instance0 li a { text-transform: capitalize; border: 0px none #000000; padding: 10px 20px 10px 20px; font: normal normal 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #0056c7; line-height: 16px; background: transparent none repeat scroll center center; }
#wb_element_instance0 li:hover > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal normal 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #0056c7; line-height: 16px; background: transparent none no-repeat scroll center center; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #0056c7; line-height: 16px; background: transparent none no-repeat scroll center center; }
#wb_element_instance1 { left: 10px; top: 60px; min-width: 299px; width: 299px; min-height: 24px; height: 24px; display: block; z-index: 58; }
#wb_element_instance2 { left: -160px; top: 30px; min-width: 110px; width: 110px; min-height: 60px; height: 60px; display: block; z-index: 61; }
#wb_element_instance2 img { width: 110px; height: 60px; position: static; left: 0px; top: 0px; }
#wb_element_instance3 { left: 70px; top: 30px; min-width: 310px; width: 310px; min-height: 49px; height: 49px; display: block; z-index: 62; }
#wb_element_instance4 { left: -260px; top: 0px; min-width: 1520px; width: 1520px; min-height: 310px; height: 310px; display: block; z-index: 85; }
#wb_element_instance4 img { width: 1520px; height: 310px; position: static; left: 0px; top: 0px; }
#wb_element_instance5 { left: 0px; top: 330px; display: block; z-index: 9000; }
#wb_element_instance6 { left: 0px; top: 104px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 118px; }
	#wb_main { height: 310px; }
	#wb_footer { height: 130px; }
	body, .wb_sbg { min-width: 992px; min-height: 608px; }
	.root { width: 992px; height: 608px; overflow: visible; }
	#wb_element_instance0 { left: 600px; top: 50px; min-width: 390px; width: 390px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance1 { left: 10px; top: 60px; min-width: 299px; width: 299px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance2 { left: -160px; top: 30px; min-width: 110px; width: 110px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance2 img { width: 110px; height: 60px; position: static; left: 0px; top: 0px; }
	#wb_element_instance3 { left: 70px; top: 30px; min-width: 310px; width: 310px; min-height: 49px; height: 49px; display: block; }
	#wb_element_instance4 { left: -260px; top: 0px; min-width: 1520px; width: 1520px; min-height: 310px; height: 310px; display: block; overflow: hidden; }
	#wb_element_instance4 img { width: 1520px; height: 823px; position: relative; left: 0px; top: -210px; max-width: inherit; }
}

@media (min-width: 992px) {
	#wb_header { height: 118px; }
	#wb_main { height: 310px; }
	#wb_footer { height: 130px; }
	body, .wb_sbg { min-width: 992px; min-height: 608px; }
	.root { width: 992px; height: 608px; overflow: visible; }
	#wb_element_instance0 { left: 600px; top: 50px; min-width: 390px; width: 390px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance1 { left: 10px; top: 60px; min-width: 299px; width: 299px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance2 { left: -160px; top: 30px; min-width: 110px; width: 110px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance2 img { width: 110px; height: 60px; position: static; left: 0px; top: 0px; }
	#wb_element_instance3 { left: 70px; top: 30px; min-width: 310px; width: 310px; min-height: 49px; height: 49px; display: block; }
	#wb_element_instance4 { left: -260px; top: 0px; min-width: 1520px; width: 1520px; min-height: 310px; height: 310px; display: block; overflow: hidden; }
	#wb_element_instance4 img { width: 1520px; height: 823px; position: relative; left: 0px; top: -210px; max-width: inherit; }
}

@media (min-width: 1200px) {
	#wb_header { height: 118px; }
	#wb_main { height: 310px; }
	#wb_footer { height: 130px; }
	body, .wb_sbg { min-width: 992px; min-height: 608px; }
	.root { width: 992px; height: 608px; overflow: visible; }
	#wb_element_instance0 { left: 600px; top: 50px; min-width: 390px;width: 390px; min-height: 40px;height: auto;display: block;}
	#wb_element_instance1 { left: 10px; top: 60px; min-width: 299px; width: 299px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance2 { left: -160px; top: 30px; min-width: 110px; width: 110px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance2 img { width: 110px; height: 60px; position: static; left: 0px; top: 0px; }
	#wb_element_instance3 { left: 70px; top: 30px; min-width: 310px; width: 310px; min-height: 49px; height: 49px; display: block; }
	#wb_element_instance4 { left: -260px; top: 0px; min-width: 1520px; width: 1520px; min-height: 310px; height: 310px; display: block; overflow: hidden; }
	#wb_element_instance4 img { width: 1520px; height: 823px; position: relative; left: 0px; top: -210px; max-width: inherit; }
}
