#wb_header { background: transparent none repeat scroll left top; height: 149px; }
#wb_header { height: 149px; }
#wb_main { background: transparent none repeat scroll left top; height: 870px; padding: 0 0 50px 0; }
#wb_main { height: 870px; }
#wb_footer { background: transparent none repeat-x scroll center bottom; height: 130px; }
#wb_footer { height: 130px; }
body { background: transparent none repeat-x scroll left top; }
.wb_sbg { background: transparent url("../gallery_gen/a89abd8eb671e1f676eabe8cebaa5267.jpg") repeat-x scroll center bottom; }
body, .wb_sbg { min-width: 992px; min-height: 2089px; }
.root { width: 992px; height: 2089px; overflow: visible; }
#wb_element_instance7 { left: 600px; top: 50px; min-width: 390px; width: 390px; min-height: 40px; height: 40px; display: block; z-index: 60; }
#wb_element_instance7 ul { background: transparent none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance7, #wb_element_instance7 ul { text-align: right; }
#wb_element_instance7 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance7 li { margin: 0px 0px 0px 0px; }
#wb_element_instance7 li a { text-transform: capitalize; border: 0px none #000000; padding: 10px 20px 10px 20px; font: normal normal 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #0056c7; line-height: 16px; background: transparent none repeat scroll center center; }
#wb_element_instance7 li:hover > a, #wb_element_instance7 li:focus > a { border: 0px none #000000; font: normal normal 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #0056c7; line-height: 16px; background: transparent none no-repeat scroll center center; }
#wb_element_instance7 li.active > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #0056c7; line-height: 16px; background: transparent none no-repeat scroll center center; }
#wb_element_instance8 { left: 10px; top: 60px; min-width: 299px; width: 299px; min-height: 24px; height: 24px; display: block; z-index: 58; }
#wb_element_instance9 { left: 20px; top: 120px; min-width: 400px; width: 400px; min-height: 200px; height: 200px; display: block; z-index: 12; }
#wb_element_instance9 img { width: 400px; height: 200px; position: static; left: 0px; top: 0px; }
#wb_element_instance10 { left: 440px; top: 120px; min-width: 540px; width: 540px; min-height: 203px; height: 203px; display: block; z-index: 13; }
#wb_element_instance11 { left: 20px; top: 20px; min-width: 570px; width: 570px; min-height: 68px; height: 68px; display: block; z-index: 14; }
#wb_element_instance12 { left: 20px; top: 380px; min-width: 560px; width: 560px; min-height: 203px; height: 203px; display: block; z-index: 15; }
#wb_element_instance13 { left: 580px; top: 380px; min-width: 400px; width: 400px; min-height: 200px; height: 200px; display: block; z-index: 16; overflow: hidden; }
#wb_element_instance13 img { width: 420px; height: 210px; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance14 { left: 20px; top: 640px; min-width: 400px; width: 400px; min-height: 200px; height: 200px; display: block; z-index: 17; }
#wb_element_instance14 img { width: 400px; height: 200px; position: static; left: 0px; top: 0px; }
#wb_element_instance15 { left: 450px; top: 640px; min-width: 520px; width: 520px; min-height: 230px; height: 230px; display: block; z-index: 18; }
#wb_element_instance16 { left: 0px; top: 890px; display: block; z-index: 9000; }
#wb_element_instance17 { left: 0px; top: 104px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 149px; }
	#wb_main { height: 870px; }
	#wb_footer { height: 130px; }
	body, .wb_sbg { min-width: 992px; min-height: 1199px; }
	.root { width: 992px; height: 1199px; overflow: visible; }
	#wb_element_instance7 { left: 600px; top: 50px; min-width: 390px; width: 390px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance8 { left: 10px; top: 60px; min-width: 299px; width: 299px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance9 { left: 20px; top: 120px; min-width: 400px; width: 400px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance9 img { width: 400px; height: 200px; position: static; left: 0px; top: 0px; }
	#wb_element_instance10 { left: 440px; top: 120px; min-width: 540px; width: 540px; min-height: 203px; height: 203px; display: block; }
	#wb_element_instance11 { left: 20px; top: 20px; min-width: 570px; width: 570px; min-height: 68px; height: 68px; display: block; }
	#wb_element_instance12 { left: 20px; top: 380px; min-width: 560px; width: 560px; min-height: 203px; height: 203px; display: block; }
	#wb_element_instance13 { left: 580px; top: 380px; min-width: 400px; width: 400px; min-height: 200px; height: 200px; display: block; overflow: hidden; }
	#wb_element_instance13 img { width: 420px; height: 210px; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance14 { left: 20px; top: 640px; min-width: 400px; width: 400px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance14 img { width: 400px; height: 200px; position: static; left: 0px; top: 0px; }
	#wb_element_instance15 { left: 450px; top: 640px; min-width: 520px; width: 520px; min-height: 230px; height: 230px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 149px; }
	#wb_main { height: 870px; }
	#wb_footer { height: 130px; }
	body, .wb_sbg { min-width: 992px; min-height: 1199px; }
	.root { width: 992px; height: 1199px; overflow: visible; }
	#wb_element_instance7 { left: 600px; top: 50px; min-width: 390px; width: 390px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance8 { left: 10px; top: 60px; min-width: 299px; width: 299px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance9 { left: 20px; top: 120px; min-width: 400px; width: 400px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance9 img { width: 400px; height: 200px; position: static; left: 0px; top: 0px; }
	#wb_element_instance10 { left: 440px; top: 120px; min-width: 540px; width: 540px; min-height: 203px; height: 203px; display: block; }
	#wb_element_instance11 { left: 20px; top: 20px; min-width: 570px; width: 570px; min-height: 68px; height: 68px; display: block; }
	#wb_element_instance12 { left: 20px; top: 380px; min-width: 560px; width: 560px; min-height: 203px; height: 203px; display: block; }
	#wb_element_instance13 { left: 580px; top: 380px; min-width: 400px; width: 400px; min-height: 200px; height: 200px; display: block; overflow: hidden; }
	#wb_element_instance13 img { width: 420px; height: 210px; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance14 { left: 20px; top: 640px; min-width: 400px; width: 400px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance14 img { width: 400px; height: 200px; position: static; left: 0px; top: 0px; }
	#wb_element_instance15 { left: 450px; top: 640px; min-width: 520px; width: 520px; min-height: 230px; height: 230px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 149px; }
	#wb_main { height: 870px; }
	#wb_footer { height: 130px; }
	body, .wb_sbg { min-width: 992px; min-height: 1199px; }
	.root { width: 992px; height: 1199px; overflow: visible; }
	#wb_element_instance7 { left: 600px; top: 50px; min-width: 390px; width: 390px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance8 { left: 10px; top: 60px; min-width: 299px; width: 299px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance9 { left: 20px; top: 120px; min-width: 400px; width: 400px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance9 img { width: 400px; height: 200px; position: static; left: 0px; top: 0px; }
	#wb_element_instance10 { left: 440px; top: 120px; min-width: 540px; width: 540px; min-height: 203px; height: 203px; display: block; }
	#wb_element_instance11 { left: 20px; top: 20px; min-width: 570px; width: 570px; min-height: 68px; height: 68px; display: block; }
	#wb_element_instance12 { left: 20px; top: 380px; min-width: 560px; width: 560px; min-height: 203px; height: 203px; display: block; }
	#wb_element_instance13 { left: 580px; top: 380px; min-width: 400px; width: 400px; min-height: 200px; height: 200px; display: block; overflow: hidden; }
	#wb_element_instance13 img { width: 420px; height: 210px; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance14 { left: 20px; top: 640px; min-width: 400px; width: 400px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance14 img { width: 400px; height: 200px; position: static; left: 0px; top: 0px; }
	#wb_element_instance15 { left: 450px; top: 640px; min-width: 520px; width: 520px; min-height: 230px; height: 230px; display: block; }
}
