#wb_header { background: transparent none repeat scroll left top; height: 149px; }
#wb_header { height: 149px; }
#wb_main { background: transparent none repeat scroll left top; height: 890px; padding: 0 0 50px 0; }
#wb_main { height: 890px; }
#wb_footer { background: transparent none repeat-x scroll left top; height: 130px; }
#wb_footer { height: 130px; }
body { background: transparent none repeat-x scroll left top; }
.wb_sbg { background: transparent url("../gallery_gen/a89abd8eb671e1f676eabe8cebaa5267.jpg") repeat-x scroll center bottom; }
body, .wb_sbg { min-width: 992px; min-height: 1539px; }
.root { width: 992px; height: 1539px; overflow: visible; }
#wb_element_instance18 { left: 600px; top: 50px; min-width: 390px; width: 390px; min-height: 40px; height: 40px; display: block; z-index: 60; }
#wb_element_instance18 ul { background: transparent none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance18, #wb_element_instance18 ul { text-align: right; }
#wb_element_instance18 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance18 li { margin: 0px 0px 0px 0px; }
#wb_element_instance18 li a { text-transform: capitalize; border: 0px none #000000; padding: 10px 20px 10px 20px; font: normal normal 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #0056c7; line-height: 16px; background: transparent none repeat scroll center center; }
#wb_element_instance18 li:hover > a, #wb_element_instance18 li:focus > a { border: 0px none #000000; font: normal normal 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #0056c7; line-height: 16px; background: transparent none no-repeat scroll center center; }
#wb_element_instance18 li.active > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #0056c7; line-height: 16px; background: transparent none no-repeat scroll center center; }
#wb_element_instance19 { left: 10px; top: 60px; min-width: 299px; width: 299px; min-height: 24px; height: 24px; display: block; z-index: 58; }
#wb_element_instance20 { left: 570px; top: 120px; min-width: 400px; width: 400px; min-height: 200px; height: 200px; display: block; z-index: 10; }
#wb_element_instance20 img { width: 400px; height: 200px; position: static; left: 0px; top: 0px; }
#wb_element_instance21 { left: 20px; top: 20px; min-width: 420px; width: 420px; min-height: 68px; height: 68px; display: block; z-index: 11; }
#wb_element_instance22 { left: 20px; top: 120px; min-width: 510px; width: 510px; min-height: 132px; height: 132px; display: block; z-index: 12; }
#wb_element_instance23 { left: 280px; top: 360px; min-width: 690px; width: 690px; min-height: 200px; height: 200px; display: block; z-index: 13; }
#wb_element_instance23 form .form-field { width: 598px; }
#wb_element_instance23 form .form-area-field { height: 70px; }
#wb_element_instance23 form td { text-align: right; }
#wb_element_instance23 form tr.area-row > th { height: 1%; }
#wb_element_instance23 form tr.area-row > td { height: 1%; }
#wb_element_instance23 form tr.form-footer > td { height: 20px; }
#wb_element_instance24 { left: 20px; top: 610px; min-width: 960px; width: 960px; min-height: 280px; height: 280px; display: block; z-index: 14; }
#wb_element_instance25 { left: 20px; top: 360px; min-width: 200px; width: 200px; min-height: 156px; height: 156px; display: block; z-index: 15; }
#wb_element_instance26 { left: 0px; top: 910px; display: block; z-index: 9000; }
#wb_element_instance27 { left: 0px; top: 104px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 149px; }
	#wb_main { height: 890px; }
	#wb_footer { height: 130px; }
	body, .wb_sbg { min-width: 992px; min-height: 1219px; }
	.root { width: 992px; height: 1219px; overflow: visible; }
	#wb_element_instance18 { left: 600px; top: 50px; min-width: 390px; width: 390px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance19 { left: 10px; top: 60px; min-width: 299px; width: 299px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance20 { left: 570px; top: 120px; min-width: 400px; width: 400px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance20 img { width: 400px; height: 200px; position: static; left: 0px; top: 0px; }
	#wb_element_instance21 { left: 20px; top: 20px; min-width: 420px; width: 420px; min-height: 68px; height: 68px; display: block; }
	#wb_element_instance22 { left: 20px; top: 120px; min-width: 510px; width: 510px; min-height: 132px; height: 132px; display: block; }
	#wb_element_instance23 { left: 280px; top: 360px; min-width: 690px; width: 690px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance23 form .form-field { width: 598px; }
	#wb_element_instance23 form .form-area-field { height: 70px; }
	#wb_element_instance24 { left: 20px; top: 610px; min-width: 960px; width: 960px; min-height: 280px; height: 280px; display: block; }
	#wb_element_instance25 { left: 20px; top: 360px; min-width: 200px; width: 200px; min-height: 156px; height: 156px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 149px; }
	#wb_main { height: 890px; }
	#wb_footer { height: 130px; }
	body, .wb_sbg { min-width: 992px; min-height: 1219px; }
	.root { width: 992px; height: 1219px; overflow: visible; }
	#wb_element_instance18 { left: 600px; top: 50px; min-width: 390px; width: 390px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance19 { left: 10px; top: 60px; min-width: 299px; width: 299px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance20 { left: 570px; top: 120px; min-width: 400px; width: 400px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance20 img { width: 400px; height: 200px; position: static; left: 0px; top: 0px; }
	#wb_element_instance21 { left: 20px; top: 20px; min-width: 420px; width: 420px; min-height: 68px; height: 68px; display: block; }
	#wb_element_instance22 { left: 20px; top: 120px; min-width: 510px; width: 510px; min-height: 132px; height: 132px; display: block; }
	#wb_element_instance23 { left: 280px; top: 360px; min-width: 690px; width: 690px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance23 form .form-field { width: 598px; }
	#wb_element_instance23 form .form-area-field { height: 70px; }
	#wb_element_instance24 { left: 20px; top: 610px; min-width: 960px; width: 960px; min-height: 280px; height: 280px; display: block; }
	#wb_element_instance25 { left: 20px; top: 360px; min-width: 200px; width: 200px; min-height: 156px; height: 156px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 149px; }
	#wb_main { height: 890px; }
	#wb_footer { height: 130px; }
	body, .wb_sbg { min-width: 992px; min-height: 1219px; }
	.root { width: 992px; height: 1219px; overflow: visible; }
	#wb_element_instance18 { left: 600px; top: 50px; min-width: 390px; width: 390px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance19 { left: 10px; top: 60px; min-width: 299px; width: 299px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance20 { left: 570px; top: 120px; min-width: 400px; width: 400px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance20 img { width: 400px; height: 200px; position: static; left: 0px; top: 0px; }
	#wb_element_instance21 { left: 20px; top: 20px; min-width: 420px; width: 420px; min-height: 68px; height: 68px; display: block; }
	#wb_element_instance22 { left: 20px; top: 120px; min-width: 510px; width: 510px; min-height: 132px; height: 132px; display: block; }
	#wb_element_instance23 { left: 280px; top: 360px; min-width: 690px; width: 690px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance23 form .form-field { width: 598px; }
	#wb_element_instance23 form .form-area-field { height: 70px; }
	#wb_element_instance24 { left: 20px; top: 610px; min-width: 960px; width: 960px; min-height: 280px; height: 280px; display: block; }
	#wb_element_instance25 { left: 20px; top: 360px; min-width: 200px; width: 200px; min-height: 156px; height: 156px; display: block; }
}
