footer {
  border-top: 1px solid rgba(0, 0, 0, 0.18);
  position: relative;
  margin-top: -60px;
  height: 50px;
  clear: both;
  font: 13px 'Open Sans', verdana, tahoma, arial;
}
.footerN {
  margin: 10px 0 0 0;
}
.footerNav {
  margin: 0 0 0 150px;
}
/*Landing Page Footer*/
/* FOOTER */
.lpfooter {
  background-color: #434345;
  margin-top: -30px;
  padding: 20px 0 30px 0;
  height: 100px;
  clear: both;
}
.lpfooter .productby {
  width: 140px;
  float: left;
  overflow: auto;
  padding-right: 20px;
  border-right: 1px solid #535355;
  -moz-box-shadow: 1px 0px 0px #383838;
  -webkit-box-shadow: 1px 0px 0px #383838;
  box-shadow: 1px 0px 0px #383838;
}
.lpfooter .productby a {
  margin-top: 10px;
  float: left;
  height: 22px;
  width: 135px;
  display: block;
  font-weight: bolder;
  font-size: 15px;
}
.lpfooter .productby .line {
  display: block;
  width: 100%;
  border-bottom: 1px solid #383838;
}
.lpfooter .productby .line h4 {
  color: #7a7a7a;
  margin-left: 30px;
  font-size: 10px;
  font-weight: normal;
  text-align: center;
  position: relative;
  top: 10px;
  padding: 0 5px;
  display: inline-block;
  background: #434345;
}
.lpfooter .productby .snetlogo {
  background-position: 0 -50px;
}
.lpfooter .footerlinks {
  float: left;
  padding-left: 20px;
}
.lpfooter span {
  color: #b2b2b2;
}
.lpfooter .footerlinks li {
  display: inline-block;
  margin: 0 24px 15px 0;
}
.lpfooter .footerlinks li a {
  color: #fff;
}
.lpfooter .social {
  text-align: right;
  margin-right: 10px;
  width: 130px;
}
.lpfooter .social li{
  float: left;
}
.lpfooter .social a {
  background: url('https://s3-sa-east-1.amazonaws.com/condomundo/Images/sociallp.png') no-repeat;
  overflow: hidden;
  text-indent: 40px;
  float: left;
  margin-left: 15px;
  display: inline-block;
  width: 30px;
  height: 30px;
}
.lpfooter .social .twitter {
  background-position: -45px 0;
}
.lpfooter .social .facebook {
  background-position: -90px 0;
}
.lpfooter .social .googleplus {
  background-position: 0 0;
}
.lpfooter .social .blogging {
  background-position: -136px 0;
}
.lpfooter .social.social-footer a {
  margin: 0 10px 10px 0;
}
.lpfooter .social.social-footer a:nth-child(odd) {
  margin: 0 0 10px 15px !important;
  float: left;
}
.inside {
  color: #646464;
  font-size: 15px;
  line-height: 25px;
}
.inside .validation-summary-errors {
  margin-bottom: 10px;
}
.lpfooter {
  background-color: #434345;
  padding: 20px 0 30px;
  position: relative;
  height: 100px;
  margin-top: -30px;
  clear: both;
}
.lpfooter .productby {
  width: 140px;
  float: left;
  overflow: auto;
  padding-right: 20px;
  border-right: 1px solid #535355;
  -moz-box-shadow: 1px 0 0 #383838;
  -webkit-box-shadow: 1px 0 0 #383838;
  box-shadow: 1px 0 0 #383838;
}
.lpfooter .productby a {
  /* margin-top: 10px; */
  /* float: left; */
  /* overflow: hidden; */
  /* text-indent: -200px; */
  /* height: 22px; */
  width: 135px;
  /* background: url(https://s3-sa-east-1.amazonaws.com/condomundo/Images/productby.png) no-repeat; */
  display: block;
  color: white;
}
.lpfooter .productby .line {
  display: block;
  width: 100%;
  border-bottom: 1px solid #383838;
}
.lpfooter .productby .line h4 {
  color: #7a7a7a;
  margin-left: 30px;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  position: relative;
  top: 10px;
  padding: 0 5px;
  display: inline-block;
  background: #434345;
}
.lpfooter .productby .snetlogo {
  background-position: 0 -50px;
}
.lpfooter .footerlinks {
  float: left;
  padding-left: 20px;
}
.lpfooter .footerlinks li {
  display: inline-block;
  margin: 0 10px 15px 0;
}
.lpfooter .footerlinks li a {
  color: #fff;
}
.lpfooter span {
  color: #b2b2b2;
}
.social.social-footer a:nth-child(odd) {
  margin: 0 0 10px 10px!important;
}
.social.social-footer a {
  margin: 0 10px 10px 0;
}
.social {
  text-align: right;
  float: right;
  margin-right: 2px;
  overflow: auto;
}
.social .facebook {
  background-position: -90px 0;
}
.social a {
  background: url(https://s3-sa-east-1.amazonaws.com/condomundo/Images/sociallp.png) no-repeat;
  overflow: hidden;
  text-indent: 40px;
  float: left;
  margin-left: 15px;
  display: inline-block;
  width: 31px;
  height: 30px;
}
.social .blogging {
  background-position: -136px 0;
}
.social .googleplus {
  background-position: 0 0;
}
.social p {
  padding: 5px 16px 0 0;
  color: #666;
}
.social .twitter {
  background-position: -45px 0;
}
.lpcontainer {
   margin-right: 100px; margin-left: 260px; float: left;
  width: 1100px;
  display: block;
}
li{
    list-style: none;
}
nav ul, nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}